//- Example

//- - var user = "Юрий"
//- - var menu = ["link 1", "link 2", "link 2"]
//- mixin itemMenu(items)
//- 	ul
//- 		each item in items
//- 			li
//- 				a(href="\##{item}") #{item}

//- end Example



mixin libs
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="js/jquery.mobile.custom-1.4.5.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js")
	script(src="js/script.js")
	
